* {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
}
body {
  max-width: 1640px;
}

/* common styles */

.primary-description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-right: 300px;
  margin-top: 20px;
}

.primary-btn {
  color: #fff;
  background-color: #e02c6d;
  border-radius: 40px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 25px 30px;
  margin: 20px 0;
  cursor: pointer;
}

/* header styles */

header {
  margin: 3rem 5rem;
}

/* nav-bar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-title {
  color: #3a3a3a;
  font-size: 1.25rem;
  font-weight: 800;
}

/* banner section styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position: right top;
}

.banner-title {
  color: #3a3a3a;
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}

/* main section styles */
main {
  margin: 3rem 6rem;
}

/*sponsor section styles */
.sponsor-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

/* products section */
.products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 7rem;
  justify-content: space-between;
  position: relative;
}
.products-section .products {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;
}
.products-section .products img {
  width: 100%;
}
.products-section .products h2 {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.products-section .products .price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.products-description {
  color: #787885;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.see-more-btn {
  color: rgba(224, 44, 109, 0.87);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  float: left;
}
.see-more a{
  text-decoration: none;
}


/* feature section styles */
.feature-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
  gap: 100px;
  margin: 5rem -2rem;
}
.feature-title{
  color: #0A0826;
  font-size: 2rem;
  font-weight: 600;
}
.feature-description{
  color:  #6C6C6C;
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 60px 20px 0;
}
.join-now-btn{
  border-radius: 0px;
}




/* responsive for small devices */
@media screen and (max-width: 576px) {
  main {
    margin: 2rem 1.25rem;
  }
  header {
    margin: 2rem 1rem;
  }
  nav,
  .products-section,
  .feature-section {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    gap: 10px;
  }
  .banner {
    flex-direction: column-reverse;
    background-position: center top;
    text-align: center;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner .primary-description {
    margin: 0px;
  }
  .sponsor-section {
    flex-wrap: wrap;
    gap: 20px;
  }
  .feature-section{
    text-align: center;
  }
  .feature-description{
    margin: 1rem;
  }
}

/* responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    background-position: center top;
    text-align: center;
  }
  .banner .primary-description {
    margin: 20px 10px 10px 10px;
  }
  .feature-section{
    gap: 30px;
  }
  .feature-section .feature-description{
    margin:0;
  }
  
}
